/**
 * @name Randi Khana
 * @author Randi user
 * @description Anime
 * @authorId 582170007505731594
 * @version 5.0.0
 * @updateUrl https://dablulite.github.io/Cyan/Cyan.theme.css
 * @source https://github.com/DaBluLite/Cyan
 * @invite ZfPH6SDkMW
 */


 
@import url(https://dablulite.github.io/Cyan/import.css);
:root {
	--cyan-background-primary: hsla(0deg 0% var(--cyan-background-lightness) / 40%);
	--cyan-elevation-shadow: 0 0 0 1.5px var(--cyan-accent-color), 0 2px 10px 0 rgb(0 0 0 / 60%);
	--cyan-font: 'Montserrat', 'Open Sans';
	--cyan-background-img: url(https://i.pinimg.com/236x/9a/81/0c/9a810c5f33da19a68f024b9b0a1408c1.jpg);
	--cyan-accent-color: #009f88;
	--cyan-blur-radius: 10px;
	--cyan-status-mask-background: var(--profile-body-background-color);
	--cyan-text-shadow: 1;
	--window-margin: 8;
	--window-border-radius: 8px;
	/*--cyan-elevation-shadow: 0 0 0 1px rgba(180,180,180,.4), 0 2px 10px 0 rgb(0 0 0 / 60%);
	--window-margin: 10;*/
}
